.Foodie-text{
    color: white;
    font-size: 35px;
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    

}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.borde {
    margin-left: 950px;
    margin-top: -15px;
    background-color: red;
    border-color:  white;
    border-radius: 25px;
    color: white;
}

.badge.bg-dark {
    background-color: red;
}
.my-custom-class {
    color: white;
}
.bg-red {
    background-color: red;
}
.carrito-icon{
    max-width: 50%;
    max-height: 75%;
    margin-right: 8px;
}

.contenedor-restaurante{
    background-color: yellow;
    color: yellow;
    height: 300px;
    width: 500px;
}

.search-input {
    border: 1px solid white; /* Color del borde blanco */
    border-radius: 0; /* Bordes cuadrados */
    padding: 0.375rem 0.75rem; /* Ajustes de padding */
    font-size: 1rem; /* Tamaño del texto */
}

.search-btn {
    background-color: black; /* Fondo del botón negro */
    border: none; /* Sin borde */
    border-radius: 0; /* Bordes cuadrados */
    font-size: 1rem; /* Tamaño del texto */
}

.cart-btn {
    margin-left: 1.5rem; /* Ajuste de margen */
}

.card.bg-primary.text-white.rounded-3 .card-body {
    background-color: #ff0000; /* Fondo rojo */
    border-color: white; /* Borde rojo */
    
  }

  .btn.btn-info.btn-block.btn-lg {
    background-color: #000000; /* Fondo rojo */
    border-color: #fffcfc; /* Borde rojo */
    color: white /* Texto blanco */
  }
  
  body {
    color: #ffffff; /* Texto blanco */
  }
  body {
    color: #ffffff; /* Texto blanco */
  }
  
  .card-title,
  .card-text,
  .btn {
    color: #ffffff !important; /* Texto blanco */
  }
  
  
  
 


